* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
}

body {
  font-family: 'poppins',Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
    background-size: cover;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      scroll-behavior: smooth;
      overflow-x: hidden;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


